include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_nextcloud *.css
recursive-include erpnext_nextcloud *.csv
recursive-include erpnext_nextcloud *.html
recursive-include erpnext_nextcloud *.ico
recursive-include erpnext_nextcloud *.js
recursive-include erpnext_nextcloud *.json
recursive-include erpnext_nextcloud *.md
recursive-include erpnext_nextcloud *.png
recursive-include erpnext_nextcloud *.py
recursive-include erpnext_nextcloud *.svg
recursive-include erpnext_nextcloud *.txt
recursive-exclude erpnext_nextcloud *.pyc